<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scrapping</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

      <div class="jumbotron text-center">
        <h1>Find Mars Pics and Facts</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Begin Search</a></p>
      </div>


    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">{{scrapping.news_title}}</h4>
        <small>{{scrapping.news_paragraph}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">Featured Mars Image</h4>
        <img src="{{scrapping.featured_img}}" width='500'>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">Mars Hemisphere Images</h4>
        {% for image in scrapping.mars_pics %}
          <h3>{{image.title}}</h3>
          <img src= "{{image.img_url}}" width='500'>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="heading">Mars Weather</h4>
        <p>{{scrapping.news_paragraph}}</p>
      </div>
      <div class='col-md-6'>
        <h4 class='heading'>Mars Facts</h4>
        {% for tables in scrapping.table %}
          {{ tables|safe }}
        {% endfor %}
      </div>
    </div>

</body>
</html>
